.views {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.views p {
    display: flex;
    align-items: center;
    margin: 0;
}

.views svg {
    margin-right: 5px;
}

.download-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
  
  .download-btn:hover {
    background-color: #337737;
  }

  .download-text {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 10px 0;
  }
  
  .download-text svg {
    margin-right: 8px;
  }  
  
  .close-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 9999;
  }

  .close-btn:hover {
    background-color: transparent;
    color: red;
  }
  